.pagination{
    li a{
        color:$black;
        &:hover{
        color: $primary;
        }
    }
    .page-item.active .page-link{
        background: $primary;
        border:1px solid $primary;
    }
}