{% extends "layout-front.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<p>Passionné par le développement web depuis plusieurs années, j'ai effectué en 2018 une reconversion adulte à l'IFPA de Mérignac et je continue à me former et  acquérir de nouvelles compétences en suivant le parcours Openclassroom "Développeur d'application Symfony".</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<p>Vous voulez prendre contact avec moi, remplissez les champs suivants et je vous recontacterais dés que possible !</p>
			<form action="blog.index" method="post">
				{{field('name',item.name,"Nom")}}
				{{field('email',item.name,"Email")}}
				{{field('content',item.name,"Message",{type:'textarea'})}}
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
{% endblock body %}
